doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="style.css")
    meta(name="description" content="Suiboha is the place you've always searched for!" )
    title Suiboha
  body
    .landing
      img(src="asset/image/suiboha.jpg", alt="Suiboha logo image for landing page")
      p *coming soon*