doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    //- link(rel="stylesheet", href="style.css")
    meta(name="description" content="Suiboha is the place you've always searched for!" )
    title Suiboha
    style(type="text/css").
      html, body, div, span, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      abbr, address, cite, code,
      del, dfn, em, ins, kbd, q, samp,
      small, strong, sub, sup, var,
      b, i,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, figcaption, figure, 
      footer, header, hgroup, menu, nav, section, summary,
      time, mark, audio, video {
          margin:0;
          padding:0;
          border:0;
          outline:0;
          font-size:100%;
          vertical-align:baseline;
          background:transparent;
      }
      .landing {
        height: 100vh;
        text-align: center;
      }
      img {
        width: 99%;
        text-align: center;
      }

  body
    .landing
      img(src="asset/image/suiboha.jpg", alt="Suiboha logo image for landing page")
      p *coming soon*